*{
  font-family: "Poppins", sans-serif;
  list-style: none;
}

.top-icons p{
  font-size: 13px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .img-slider1 {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/Frame380.png');
  width: 100%;
  height: 90vh;
}

.swiper-slide .img-slider2 {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/Frame380.png');
  width: 100%;
  height: 90vh;
}

.swiper-slide .img-slider3 {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/Frame380.png');
  width: 100%;
  height: 90vh;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next, .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after{
  display: none !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #ffffff;
}

.top-category-overlay{
  background-color: rgba(0, 0, 0, 0.445);
}

.category-section p{
  /* transform: translate(-50%, -50%); */
  top: 30%;
  left: 35%;
  right: 50%;
}

.lady-part{
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./assets/lady.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  position: relative;
}

.lady-part .content{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  color: white;
}