*{
  font-family: "Lato", sans-serif;
  list-style: none;
}

.top-icons p{
  font-size: 13px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .img-slider1 {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/Frame129.png');
  width: 100%;
  height: 90vh;
}

.swiper-slide .img-slider2 {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/Frame376.png');
  width: 100%;
  height: 90vh;
}

.swiper-slide .img-slider3 {
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('./assets/Frame380.png');
  width: 100%;
  height: 90vh;
}

.swiper-rtl .swiper-button-prev, 
.swiper-rtl .swiper-button-next, 
.swiper-button-next::after, 
.swiper-button-prev::after, 
#recommended .swiper-pagination-bullet{
  /* display: none !important; */
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
  background-color: #ffffff;
}

.category-section p{
  font-size: 18px;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.category-section{
  cursor: pointer;
}

.top-category-overlay{
  background-color: rgba(0, 0, 0, 0.25);
  bottom: -120%;
  transition: .5s;
}

.category-section .top-category-overlay{
  bottom: 0;
  transition: .5s;
}

.lady-part{
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("./assets/lady.png");
  background-position: center;
  background-size: cover;
  width: 92%;
  margin: 0 auto;
  border-radius: 5px;
  height: 60vh;
  position: relative;
}

.lady-part .content{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  color: white;
}

#recommended .swiper-button-prev, #recommended .swiper-button-next{
  color: #000;
  padding: 0 22px;
  font-size: 40px;
  border-radius: 50px;
  box-shadow: 0 0 15px #9a9a9a;
  background-color: #fff;
}

.owl-nav{
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.owl-next{
  position: absolute;
  top: 30%;
  right: 0;
  font-size: 30px !important;
  color: #000;
  width: 45px;
  box-shadow: 0 0 15px #9a9a9a4d;
  background-color: #ffffff00 !important;
  border-radius: 50px;
}

.owl-prev{
  position: absolute;
  top: 30%;
  left: 0;
  font-size: 30px !important;
  color: #000;
  width: 45px;
  box-shadow: 0 0 15px #9a9a9a4d;
  background-color: #ffffff00 !important;
  border-radius: 50px;
}

.owl-next,.owl-prev {opacity: 0;}

.owl-carousel:hover .owl-prev, .owl-carousel:hover .owl-next {
  opacity: 1 !important;
  transition: .7s;
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    height: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom:4px;
}

#owl-demo .owl-item > div {
    padding: 0px 2px
}

.product-card .product-tumb{
  border-radius: 20px;
  overflow: hidden;
}

.product-card:hover{
  /* box-shadow: 0 2px 7px #dfdfdf; */
}

.product-card .product-tumb img{
  transition: .5s;
}

.product-card:hover .product-tumb img{
  scale: 1.35;
  transition: .5s;
}

.product-card {
  cursor: pointer;
  width: 100%;
  position: relative;
  /* box-shadow: 0 2px 7px #dfdfdf; */
  margin: 0px auto;
  /* background: #fafafa; */
}

.badge {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  background: #fff;
  color: #000;
  padding: 5px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 35px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 20px 5px;
}

.product-details h1{
  font-weight: bold;
  color: #003C2F;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  /* font-size: 15px; */
  line-height: 22px;
  /* margin-bottom: 8px; */
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

.input-container label{
  /* font-size: 16px;
  color: #999;
  position: absolute;
  left: 60px;
  top: 15px;
  background-color: #fff;
  padding: 2px 5px; */
  visibility: hidden;
  font-size: 14px;
}

.input-container input{
  font-size: 14px
}


.input-container:focus-within label{
  visibility: visible;
}

.register-modal{
  overflow-y: scroll;
}

/* width */
.register-modal::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.register-modal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
 
/* Handle */
.register-modal::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.535); 
  border-radius: 10px;
}

.sellerPerformanceList{
  margin-left: 2.5rem;
  padding-top: 10px;
}

.sellerPerformanceList li{
  list-style: disc !important;
}

.specList{
  margin-left: 1.5rem;
  padding-top: 10px;
}

.specList li{
  list-style: disc !important;
}

.mobile-nav, .mobile-search{
  display: none !important;
}

@media screen and (max-width:960px) {
  .swiper-slide .img-slider1, .swiper-slide .img-slider2, .swiper-slide .img-slider3, .lady-part {
    height: 50vh;
  }

  .help, .getApp{
    display: none;
  }

  .nav-right{
    display: none !important;
  }

  .mobile-nav, .mobile-search{
    display: flex !important;
    font-size: 22px;
  }

  .bottom-nav, .search-bar{
    display: none !important;
  }
}


@media screen and (max-width:767px) {
  .category-section{
    height: auto !important;
    /* bottom: 30% !important; */
  }

  .category-section .top-category-overlay{
    transition: .5s;
    height: 100% !important;
  }
}

@media screen and (max-width:600px) {
  .product-tumb{
    height: 200px;
    padding: 15px;
  }
}

@media screen and (max-width: 480px) {
  .product-details h1{
    font-size: 13px;
  }

  .reviews{
    flex-direction: column;
    align-items: flex-start !important;
  }

  .reviews span {
    margin-left: 0;
  }
}